postgres:
  image: postgres:9.5
  ports:
    - 5432:5432
  environment:
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_USER=postgres
    - POSTGRES_DB=pracovnik_test
  container_name: pracovnik_postgresql
